@using LCPECommerce.Shared.Models
@using LCPECommerce.Client.Services
@inject IAccountService AccountService
@inject IAlertService AlertService
@inject HttpClient http
@inject NavigationManager navManager

<EditForm Model="@clients" OnValidSubmit="@ValidRegister">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Username:</label>
        <InputText @bind-Value="@clients.Username" class="form-control" />
        <ValidationMessage For="@(() => clients.Username)" />
    </div>
    <div class="form-group">
        <label>Email:</label>
        <InputText @bind-Value="@clients.Email" type="email" class="form-control" />
        <ValidationMessage For="@(() => clients.Email)" />
    </div>
    <div class="form-group">
        <label>Password:</label>
        <InputText @bind-Value="@clients.Password" type="password" class="form-control" />
        <ValidationMessage For="@(() => clients.Password)" />
    </div>
    <div class="form-group">
        <label>Full Name:</label>
        <InputText @bind-Value="@clients.FullName" class="form-control" />
        <ValidationMessage For="@(() => clients.FullName)" />
    </div>
    <div class="form-group">
        <label>Billing Address:</label>
        <InputText @bind-Value="@clients.BillingAddress" class="form-control" />
        <ValidationMessage For="@(() => clients.BillingAddress)" />
    </div>
    <div class="form-group">
        <label>Shipping Address:</label>
        <InputText @bind-Value="@clients.ShippingAddress" class="form-control" />
        <ValidationMessage For="@(() => clients.ShippingAddress)" />
    </div>
    <div class="form-group">
        <label>Country:</label>
        <InputText @bind-Value="@clients.Country" class="form-control" />
        <ValidationMessage For="@(() => clients.Country)" />
    </div>
    <div class="form-group">
        <label>Phone:</label>
        <InputText @bind-Value="@clients.Phone" class="form-control" />
        <ValidationMessage For="@(() => clients.Phone)" />
    </div>
    <button type="submit" class="btn btn-primary" disabled="@loading">
        @if (loading)
        {
            <span class="spinner-border spinner-border-sm mr-1"></span>
        }
        Login
    </button>
    <button type="button" class="btn btn-primary" @onclick="@Cancel">Cancel</button>
</EditForm>

@code {
    Clients clients = new Clients();
    private HubConnection hubConnection;
    private bool loading;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(navManager.ToAbsoluteUri("/ClientHub"))
            .Build();
        await hubConnection.StartAsync();
    }

    public bool isConnected => hubConnection.State == HubConnectionState.Connected;

    async Task ValidRegister()
    {
        //clients = await http.PutAsJsonAsync<Clients>("api/clients");

        AlertService.Clear();
        loading = true;

        try
        {
            await AccountService.Register(clients);
            if (isConnected) await SendMessage();
            AlertService.Success("Registration successful", keepAfterRouteChange: true);
            navManager.NavigateTo("account/login");
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
            loading = false;
            StateHasChanged();
        }
    }

    Task SendMessage() => hubConnection.SendAsync("SendMessage");

    public void Dispose()
    {
        _ = hubConnection.DisposeAsync();
    }

    void Cancel()
    {
        navManager.NavigateTo("");
    }
}